body {
  background-color: #ffffb3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 40vw;
  font-family: Gill Sans Extrabold, sans-serif;
  font-weight: bold;
  color: #436245;
}
