body {
  background-color: #1c1c19;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 35vw;
  font-family: Gill Sans Extrabold, sans-serif;
  font-weight: bold;
  color: #00FF00;
}
